@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product-area pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Arrival</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">Bestseller</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                        </li>
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @foreach (var products in Model)
                        {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            @if (products.Images.Count > 0)   @*products.CreatedDate >= DateTime.Now.AddDays(-30)*@
                                            {
                                                <img class="first-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                            }
                                            else
                                            {
                                                <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                                <img class="second-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int i = 0; i <= products.Rating; i++)
                                            {
                                                <li><i class="fas fa-star"></i></li>
                                            }

                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@products.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@products.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            @if (products.Images.Count > 0)   @*products.CreatedDate >= DateTime.Now.AddDays(-30)*@
                                                                    {
                                                <img class="first-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                            }
                                            else
                                            {
                                                <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                                <img class="second-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int i = 0; i <= products.Rating; i++)
                                            {
                                                <li><i class="fas fa-star"></i></li>
                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@products.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@products.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }


                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                <div class="product-items">
                    <div class="row product-active">

                        @foreach (var products in Model)
                        {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            @if (products.Images.Count > 0)    @*&& products.CountOfSoldProd > 100*@
                                            {
                                                <img class="first-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                            }
                                            else
                                            {
                                                <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                                <img class="second-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int i = 0; i <= products.Rating; i++)
                                            {
                                                <li><i class="fas fa-star"></i></li>
                                            }

                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@products.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@products.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            @if (products.Images.Count > 0)    @*&& products.CountOfSoldProd > 100*@
                                            {
                                                <img class="first-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                            }
                                            else
                                            {
                                                <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                                <img class="second-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int i = 0; i <= products.Rating; i++)
                                            {
                                                <li><i class="fas fa-star"></i></li>
                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@products.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@products.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                        
                       
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                <div class="product-items">
                    <div class="row product-active">

                        @foreach (var products in Model)
                        {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            @if (products.Images.Count > 0)   @*&& products.CountOfSoldProd > 100*@
                                            {
                                                <img class="first-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                            }
                                            else
                                            {
                                                <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                                <img class="second-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int i = 0; i <= products.Rating; i++)
                                            {
                                                <li><i class="fas fa-star"></i></li>
                                            }

                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@products.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@products.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            @if (products.Images.Count > 0)   @*&& products.CountOfSoldProd > 100*@
                                            {
                                                <img class="first-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                                <img class="second-image" src="~/assets/images/product/@(products.Images.FirstOrDefault(i=>i.IsMain)!=null?products.Images.FirstOrDefault(i=>i.IsMain).ImageUrl:products.Images.FirstOrDefault().ImageUrl)" alt="product">
                                            }
                                            else
                                            {
                                                <img class="first-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                                <img class="second-image" src="~/assets/images/product/product-1.jpg" alt="product">
                                            }
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int i = 0; i <= products.Rating; i++)
                                            {
                                                <li><i class="fas fa-star"></i></li>
                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@products.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@products.Price</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                       
                        
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>




<!--====== Special Products Part Start ======-->

<section class="special-products-area pt-70 pb-120">
    <div class="container-fluid custom-container">
        <div class="special-products-active">
            <div class="special-products-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special-products-gallery d-flex mt-50">
                            <div class="products-gallery-thumb">
                                <ul class="products-thumb">
                                    @*    @foreach (var item in Model)
                                    {
                                       if (products.Count>0)
                                       {
                                           <li><img src="~/assets/images/special-products/item.Images" alt="Products Thumb"></li>
                                       }
                                        
                                    }*@
                                    
                                    <li><img src="assets/images/special-products/special-products-2.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-3.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-4.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-5.jpg" alt="Products Thumb"></li>
                                </ul>
                            </div> <!-- products gallery thumb -->
                            <div class="products-gallery-image">
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-1.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-2.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-3.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-4.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-5.jpg" alt="products">
                                    </a>
                                </div>
                            </div> <!-- products gallery image -->
                        </div> <!-- special products gallery -->
                    </div>
                    <div class="col-lg-6">
                        <div class="special-products-countdown mt-50">
                            <div class="products-countdown-wrapper">
                                <h2 class="special-title">Deal of the week</h2>
                                <h3 class="products-title"><a href="#">Originals Kaval Wind...</a></h3>
                                <div class="products-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                                <div data-countdown="2021/12/19"></div>

                                <div class="product-price-and-cart d-sm-flex align-items-center">
                                    <div class="product-price">
                                        <span class="price-sale">€21.03</span>
                                        <span class="regular-price">€23.90</span>
                                    </div>
                                    <div class="product-cart">
                                        <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div> <!-- special products countdown -->
                        </div> <!-- special products countdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- special products wrapper -->
            <div class="special-products-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special-products-gallery d-flex mt-50">
                            <div class="products-gallery-thumb">
                                <ul class="products-thumb">
                                    <li><img src="assets/images/special-products/special-products-5.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-6.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-8.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-7.jpg" alt="Products Thumb"></li>
                                    <li><img src="assets/images/special-products/special-products-4.jpg" alt="Products Thumb"></li>
                                </ul>
                            </div> <!-- products gallery thumb -->
                            <div class="products-gallery-image">
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-5.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-6.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-8.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-7.jpg" alt="products">
                                    </a>
                                </div>
                                <div class="single-products-image">
                                    <a href="#">
                                        <img src="assets/images/special-products/special-products-4.jpg" alt="products">
                                    </a>
                                </div>
                            </div> <!-- products gallery image -->
                        </div> <!-- special products gallery -->
                    </div>
                    <div class="col-lg-6">
                        <div class="special-products-countdown mt-50">
                            <div class="products-countdown-wrapper">
                                <h2 class="special-title">Deal of the week</h2>
                                <h3 class="products-title"><a href="#">Originals Kaval Wind...</a></h3>
                                <div class="products-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                                <div data-countdown="2021/12/19"></div>

                                <div class="product-price-and-cart d-sm-flex align-items-center">
                                    <div class="product-price">
                                        <span class="price-sale">€21.03</span>
                                        <span class="regular-price">€23.90</span>
                                    </div>
                                    <div class="product-cart">
                                        <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div> <!-- special products countdown -->
                        </div> <!-- special products countdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- special products wrapper -->
        </div> <!-- special products active -->
    </div> <!-- container -->
</section>
<!--====== Special Products Part Ends ======-->
